<div class="card d-flex align-items-start" style="top:15%">
    <div class="card-body  ">
      
       <ul class="list-group list-group-flush d-flex align-items-start"  >
        <li class="list-group-item border-bottom-0">{{allArtifacts['data'].title}}</li>
         <li class="list-group-item border-bottom-0">{{allArtifacts['data'].date_start}}</li>
         <li class=" list-group-item text-muted border-bottom-0">Orign</li>
         <li class=" list-group-item fw-bold border-bottom-0">{{allArtifacts['data'].place_of_origin}}</li>

         <li class=" list-group-item text-muted border-bottom-0">Medium</li>
         <li class=" list-group-item fw-bold border-bottom-0">{{allArtifacts['data'].medium_display}}</li>

         <li class=" list-group-item text-muted border-bottom-0">Inscriptions</li>
         <li class=" list-group-item fw-bold border-bottom-0">{{allArtifacts['data'].inscriptions}}</li>

         <li class=" list-group-item text-muted border-bottom-0">Dimensions</li>
         <li class=" list-group-item fw-bold border-bottom-0">{{allArtifacts['data'].dimensions}}</li>

         <li class=" list-group-item text-muted border-bottom-0">Credit Line </li>
         <li class=" list-group-item fw-bold border-bottom-0">{{allArtifacts['data'].credit_line}}</li>

         <li class=" list-group-item text-muted border-bottom-0">Reference Number</li>
         <li class=" list-group-item fw-bold border-bottom-0">{{allArtifacts['data'].main_reference_number}}</li>
       </ul>
  </div>
</div>
<!-- // id?:.id,
// title:.date_start,
// date_start:.date_start,
// date_end: number,
// artist_display: string,
// main_reference_number: number,
// place_of_origin: string,
// medium_display: string,
// inscriptions: string,
// dimensions: number,
// credit_line: string,
// department_title: string -->
