<div class="card d-flex align-items-start" style="top:50%">
  <div class="card-body">
    
     <ul class="list-group list-group-flush d-flex align-items-start" *ngFor="let item of artArr; let value of  Object.values(artArr)">
    
        <li class="list-group-item  border-bottom-0" *ngIf="item.key ==='data'">  
           <ul>
           <li class="list-group-item  border-0"> 
            {{item.val.title}}
          </li>
          <li class="list-group-item  border-0"> 
              {{item.val.date_start}} 
          </li>
         </ul>
        </li>

     </ul>
</div>
</div>
