<div class="card d-flex align-items-start" style="top:50%">
  <div class="card-body">
    
     <ul class="list-group list-group-flush d-flex align-items-start" *ngFor="let key of Object.keys(temp) ">
    
       <li class="list-group-item  border-bottom-0">  {{key}} {{temp[key]}}</li>
       
       <!-- <li class=" list-group-item text-muted border-bottom-0">Date</li>
        <li class="list-group-item border-bottom-0">{{tmp['date_start']}}</li>
        <li class=" list-group-item text-muted border-bottom-0">Department</li>
       <li class=" list-group-item fw-bold border-bottom-0">{{item['date_start']}}</li>  -->

     </ul>
</div>
</div>
