.logo{
        margin-bottom: -29px;
        margin-top: 4px;
}
a {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding: 0 0;
        

}

a span {
        margin: 0 1.3rem;
        padding: 0 0;
}

a.nav-link{
        padding: 0 0 !important;
}
a.nav-link:active{
        padding: 0 0 !important;
}