.grid-area-1{
    background-color: blue;
    height: 780px;
}
.grid-area-2{
    background-color: firebrick;
    height: 780px;
}
.grid-area-3{
    background-color: yellow;
    height: 299px;
}

.grid-area-4{
    background-color:teal;
    height: 299px;
}
.grid-area-5{
    background-color:black;
    height: 1px;
    width: 100%;
}
.breadcrumb{
    padding-top: 20px;
  }